body {
    font-family: serif;
}

li{
    list-style: none;
}

.header {
    background-color:rgb(184, 105, 35);
    color: #fff;
    height: 90px;
}

.header-logo {
    float: left;
    font-size: 36px;
    Padding:20px 40px;
    color:rgb(242, 239, 245);
}

.header-list li{
    float: right;
    padding: 33px 50px;
    color:#f1f3eb;
    
}

.main {
    padding: 100px 80px;
    background-color:aquamarine;
}

.flex {
    display: flex; /*横並び*/
  }

.copy-container h1{
    font-size:140px;
    text-align: center;
}

.conpy-container h2{
    font-size: 140px;
    text-align: center;
}

.conpy-container span{
    color:#ff4a4a;
}

.contents {
    height: 500px;
    margin-top:100px;
    
}

.section-title{
    border-bottom: 2px solid #dee7ec;
    font-size: 38px;
    padding-bottom: 15px;
    margin-bottom: 50px;
    text-align: center;
}

.contents-item{
    float:left;
    margin:0 40px;
  
    
}


.contents-item p{
    font-size:24px;
    margin-top:30px;
}

.contact-form{
    padding-top: 100px;
}

input, textarea{
    width:400px;
    margin-top:10px;
    margin-bottom:30px;
    padding: 20px;
    font-size:18px;
    border: 1px solid #dee7ec;
}

.contact-submit {
    background-color:#dee7ec;
    color:#889eab;
}

.footer{
    background-color:#2f5167;
    color:antiquewhite;
    height:120px;
    padding:40px;
}

.footer-logo{
    float:left;
    font-size:32px;
}

.footer-list{

    float:right;
}

.footer-lift li{
    padding-bottom:20px;
}








