body {
    font-family: "Avenir Next";
  }
  
  li {
    list-style: none;
  }
  
  .header {
    background-color: #26d0c9;
    color: #fff;
    height: 90px;
  }
  
  .header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px;
  }
  
  .header-list li {
    float: left;
    padding: 33px 20px;
  }
  
  .main {
    padding: 100px 80px;
  }

  .flex {
    display: flex; /*横並び*/
  }
  .flex .image {
    width: 400px; /*画像サイズ指定*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
  }
  .flex .right {
    margin: 0 0 0 40px;
    padding-left: 20px;
  }
  .flex .title {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 30px;
  }
  .flex .text {
    margin: 10px 0 0;
    padding: 0;
  }
  
  .copy-container h1 {
    font-size: 70px;
  }
  
  .copy-container h2 {
    font-size: 40px;
    text-align:right;
    padding-bottom: 20px;
  }
  
  .copy-container span {
    color: #ff4a4a;
  }
  
  .contents {
    height: 500px;
    margin-top: 100px;
  }
  
  .section-title {
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
  }
  
  .contents-item {
    float: left;
    margin-left: 40px;
  }
  
  .contents-item p {
    font-size: 24px;
    margin-top: 30px;
  }
  
  .contact-form {
    padding-top: 100px;
  }
  
  /* inputとtextareaのCSSを指定してください */
  input,textarea{
    width:400px;
    margin-top:10px;
    margin-bottom:30px;
    padding:20px;
    font-size:18px;
    border:1px solid #dee7ec;
  }
  
  /* contact-submitのCSSを指定してください */
  .contact-submit{
    background-color:#dee7ec;
    color:#889eab;
  }
  
  .footer {
    background-color: #2f5167;
    color: #fff;
    height: 120px;
    padding: 40px;
  }
  
  .footer-logo {
    float: left;
    font-size: 32px;
  }
  
  .footer-list {
    float: right;
  }
  
  .footer-list li {
    padding-bottom: 20px;
  }

  a{
    color:white;
  }
  
